// Main colors
$primary-color: #5F7161;
$secondary-color: #A8B5A2;
$dark-color: #26332A;
$text-color: #4B554D;
$white-color: #FFFDF7;
$light-color: #F1F3EC;

// Other values
$border-radius: 15px;
$box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);